.spoiler {
    color: transparent;
    opacity: 0.7;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.spoiler:after {
    content: '';
}

.posttitle {
    padding-bottom: 50px;
}

.langs-container {
	margin-top: 100px;
}

.langs-container ul {
	list-style:none;
	padding-left:30px;
}

a:not([href*='evolverine.github.io']):not([href^='#']):not([href^='/']):after {
    content: " [↗️]";
}