.spoiler {
    color: transparent;
    opacity: 0.7;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.spoiler:after {
    content: '';
}

.posttitle {
    padding-bottom: 50px;
}

a:not([href*='evolverine.github.io']):not([href^='#']):not([href^='/']):after {
    content: " [↗️]";
}

.langs-container {
	top: 75px;
	position: relative;
}

.langs-container ul {
	list-style:none;
	padding-left:15px;
}

@media (max-width: 600px) {
	.langs-container ul {
		list-style:none;
		padding-left:5px;
	}

	.nav-icon {
		padding-left: 13px;
		left: unset
	}

	.container {
        padding-left:35px;
    }
}